<template>
    <div>
        <img :src="src" :width="width" :alt="alt" :height="height" @click="zoomImage()" class="zoomable" :class="classname"/>
        <div  class="zoomable-modal" ref="modal">
            <span class="zoomable-close" @click="closeModal()">&times;</span>
            <img class="zoomable-modal-content"  ref="modalimage">
        </div>
    </div>
</template>

<script>
export default {
    props: ['src', 'alt', 'width', 'height', 'classname'],
    methods: {
        zoomImage() {
            this.$refs.modal.style.display = 'block';
            this.$refs.modalimage.src = this.src;
        },
        closeModal() {
            this.$refs.modal.style.display = 'none';
        }
    }
}
</script>

<style media="screen">

.zoomable:hover {
    opacity: 0.7;
    cursor: pointer;
}
.zoomable-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.zoomable-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.zoomable-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.zoomable-close:hover,
.zoomable-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .zoomable-modal-content {
        width: 100%;
    }
}
</style>
